@model BorrowLend.Models.Item
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<form method="post" asp-action="Delete">

    <button type="submit" class="col-3 btn btn-danger m-1">Delete</button>

</form>