@{
  ViewData["Title"] = "Начална страница";
}

<h2>Добре дошли</h2>

@if (ViewBag.UserName != null) {
  <p>Здравейте, @ViewBag.UserName!</p>
} else {
  <form asp-action="SetUserName" method="post">
    <label for="userName">Въведете вашето име:</label>
    <input type="text" id="userName" name="userName" required />
    <button type="submit">Запази</button>
  </form>
}

<h2>Изберете предпочитание на тема:</h2>

<form asp-action="SetCookie" method="post">
  <button type="submit" name="preference" value="DarkMode">Тъмна тема</button>
  <button type="submit" name="preference" value="LightMode">Светла тема</button>
</form>

<p>Вашата текуща тема: @ViewBag.UserPreference</p>
